.ofer{
    text-align: center;
    color:#2e2e2e;
    font-size: 30px;
}

h3{
    font-family: Gasalt;
    font-size: 50px;
}

h4{
    color:#fff;
    font-family: Microsoft New Tai Lue;
}

#servicios{
    background: #2e2e2e;
    color: #979799;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}

#servicios .contenedor{
    display: flex;
    justify-content: center; 
    flex-wrap:wrap;
}

#servicios article{
    margin: 12px;
}

#servicios img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 6px solid #fff;
}

#servicios  h3, h4{
    text-align: center;
}

@media (min-width: 1024px){
    .foto{
         float:left; 
         width:210px; 
         height:180px; 
         margin: 55px;
         padding:5px; 
         text-align:center; 
         margin-bottom: 110px;
        }
    
    #servicios{
     width: 100%;     
    }
}

@media (max-width:480px){
    .ofer{
    text-align: center;
    font-size: 18px;
    color:#2e2e2e;
}
    h3{
        font-size: 25px;
    }
}
  