#gale{
    text-align: center;
    font-size: 30px;
}

h5{
    font-family: Gasalt;
    font-size: 45px;
}

#slider {
    box-shadow: 0px 4px 10px #2e2e2e;
    width:100%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 450px;
    border-radius: 4px;
}

#slider ul {
    display: flex;
	width: 400%;
    height: auto;
    position: relative;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
	animation: cambio 20s infinite alternate linear;
}

#slider li {
	width: 100%;
	list-style: none;
}

#slider img {
	width:100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

@media (max-width:480px){
    h5{
        font-size: 30px;
    }
}